* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    height: 50%;
    border: 5px solid #8c8c8c;
    border-radius: .5rem;
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
}

#display {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    border: 1px dashed black;
    margin: 0 auto;
    padding: .5rem;
}

.main {
    display: flex;
}

.number {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    width: 50%;
    height: 50%;
}

.operand {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 50%;
    padding: 0 .5rem;
}

.func {
    display: flex;
    justify-content: space-between;
}

.button {
    border: 1px inset #000;
    border-radius: .15rem;
    padding: .2rem;
}

.button:hover {
    background-color: #ffffcc;
}

.button:active {
    background-color: #ffeecc;
    font-weight: bold;
    transition: font-weight .2s ease;
}

.subtract,
.divide {
    padding: .35rem;
}